:host{

    background-color: white;
    color: black;
    display: grid;
    align-items: center;
    grid-template-rows: 100%;
    grid-template-columns: minmax(min-content,15%) auto 50px;
    justify-items: center;
    cursor: pointer;
    width: 100%;

}
:host:hover{

    filter: invert(100%);

}
:host:hover img{

    filter: invert(100%);

}
button{

    background: white;
    padding: 20%;
    border: thin solid;
    cursor: pointer;

}

img{

    width: 80%;
    height: 80%;
    object-fit: contain;

}