<div class='container'>

    <img class="portrait" [src]="character?.portrait?character.portrait:'https://img.freepik.com/vecteurs-libre/dragon-silhouette_23-2147510587.jpg?size=338&ext=jpg'">
    <h3 class="name">{{character?character.name:"-nom de personnage-"}}</h3>
    <h4 *ngIf='character?.isPlayable' class="race">-race du personnage-</h4>
    
    <ul class="stats">

        <li *ngFor="let characteristic of characteristics, let i = index">
            <label class="stat">

                <span class="statName">{{characteristic.name}}</span>
                <input class="statInput" readonly [value]="character?.characteristics?character.characteristics[i].value:0">
                <span [ngClass]="{'statBonus':character?.characteristics[i].bonus > 0, 'statMalus':character?.characteristics[i].bonus < 0}" class="statBonus">{{character?.characteristics?character.characteristics[i].bonus:0}}</span>

            </label> 
        </li>
        
    </ul>

    <p class="description">
        {{character?.resume}}
    </p>
    <ul>
        <li *ngFor='let capacity of character?.capacities'>
            <label class="capacity">
                <span>
                    {{capacity.name}}
                    {{capacity.description}}
                </span>
            </label>

        </li>
    </ul>
        
        
</div>
