:host{

    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.5vh;
    width: 100%;
    box-sizing: border-box;


}
.container{

    display: grid;
    grid-template-areas: "portrait stats" "name stats" "description description";
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 8% 50%;
    max-width: 500px;
    gap: 5px;
    box-sizing: border-box;
    border: solid;
    padding: 10px;

}
.portrait{

    grid-area: portrait;
    height: 100%;
    width: 100%;
    justify-self: center;
    object-fit: contain;

}
.stats{

    grid-area: stats;
    display: grid;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    border: solid;
    margin: 10%;
    overflow: hidden;
    gap: 2px;
    grid-template-columns: 100%;
    grid-auto-rows:calc(90%/6);

}
.stat{

    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 50% 20% auto;
    justify-items: center;
    height: 100%;
}
.statInput{

    width: 100%;
    background: none;
    color: white;
    text-align: center;
    box-sizing: border-box;

}
.statName{

    justify-self:flex-end;

}
.statBonus{

    color: green;

}.statBonus::before{
    content: '+';

}
.statMalus{

    color: red;

}
.description{

    grid-area: description;
    overflow-y: auto;

}
.name{

    grid-area: name;
    background-color: white;
    color: black;
    padding: 4%;
    margin: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;

}
.race{
   
}