<div class="teamPanel">
    <div class ="panelHeader">
        <div class ="tagContainer">

            <label class="tag">
                <input class='tagLabel' #tagName value="HEROES" (input)="tagName.size = tagName.value.length +'ch'" [size]="tagName.value.length" readonly><br>
                <button class="tagButton" (click)="selectedTag = 0; onSelectHeroes()"><div class="tagIconSelection" [ngClass]="{teamSelected:selectedTag === 0}" ></div></button>
            </label>
            <label *ngFor="let team of teams;let i = index" class="tag">
                <input class='tagLabel' (change)="onChangeTagName(i,$event.target.value)" #tagName [value]="team.name" (input)="tagName.size = tagName.value.length +'ch'" [size]="tagName.value.length"><br>
                <button class="tagButton" (click)="selectedTag = i+1; onSelectTeam(i)"><div class="tagIconSelection" [ngClass]="{teamSelected:selectedTag === i+1}"></div></button>
            </label>

        </div>      
        <label class="tag addTag">
            <button class="tagButton addTagButton">+</button>
        </label>
    </div>
   
    <div class="container">
        <div class="containerHeader">

            <h2>{{selectedTeam?.name}}</h2>

        </div> 
        <div class="containerMain">

            <div (click)="onSelectCharacter(character)" class="characterContainer" *ngFor="let character of selectedTeam?.members">

                <label>{{character.name}}</label>
    
            </div>

        </div>
        
        <div class="containerFooter">

            <button formButton>SAVE</button>

        </div>
        

    </div>
</div>
