:host{

    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.displayNext{

    position: absolute;
    right: 0%;
    cursor: pointer;

}
.okButton{

    height: 3rem;
    width: 10ch;
    background-color: white;
    border-color: black;
    cursor: pointer;

}