<button class="buttonIcon" (click)="onCharacterDetailsButtonClick()"><fa-icon [icon]="faAdressCard"></fa-icon></button>
<button class="buttonIcon" (click)="onMyCharactersButtonClick()"><fa-icon [icon]="faUsers"></fa-icon></button>
<button class="buttonIcon" (click)="onSoundButtonClick()"><fa-icon [icon]="faMusic"></fa-icon></button>
<button class="buttonIcon" (click)="onBackgroundButtonClick()"><fa-icon [icon]="faImage"></fa-icon></button>
<button class="buttonIcon" (click)="onDiceButtonClick()"><fa-icon [icon]="faDice"></fa-icon></button>
<button class="buttonIcon" (click)="onMapButtonClick()"><fa-icon [icon]="faMap"></fa-icon></button>
<button class="buttonIcon" (click)="onSettingsButtonClick()"><fa-icon [icon]="faCogs"></fa-icon></button>