<options-bar 
    [ngClass]="{hideOptions:!displayOptions, deployOptions:displayOptions}" 
    class="options"
    (characterDetailClick)="displayCharacterDetails = !displayCharacterDetails"
    (myCharactersClick)="displayMyCharacters = !displayMyCharacters"
    (soundClick)="displaySound = !displaySound"
    (backgroundClick)="displayBackgroundSettings = !displayBackgroundSettings"
    (diceClick)="displayDices = !displayDices"
    (mapClick)="displayMap = !displayMap"
    (settingsClick)="displaySettings = !displaySettings"
></options-bar>


<div class="container boundary" [ngClass]="{hideSide:!displaySide, deploySide:displaySide , hideHeader:!displayHeader , deployHeader:displayHeader }">

    <header-bar
      (optionsButtonClick)="showHideOptions()"
      (logoutClick)="logoutUser()"
      (loginClick)="loginUser()"
      [currentUser]="currentUser"
      [ngClass]="{hidden:!displayHeader}"
      class="header">
    </header-bar>
    <button
      (click)="showHideHeader()"
      class="headerButton">
      {{displayHeader?"&uarr;&uarr;&uarr;":"&darr;&darr;&darr;"}}
    </button>
  
    <fight-tracker [fighterList]="fighterList" class="main"></fight-tracker>
  
    <button (click)="showHideSide()" class="sideButton">TEAMS MANAGER</button>
    <team-manager
      [characters] = "userCharacters"
      (characterSelected)="onCharacterSelected($event)"
      [teams]="teams"
      [heroes]="heroes"
      [ngClass]="{hidden:!displaySide}"
      class="side"
      (showHideClick)="showHideSide()">
    </team-manager>
      
    <settings-panel 
      controlPanel
      (closePanel)="displaySettings = false"
      [display]="displaySettings?'block':'none'"
      panelTitle="Options"
      cdkDragBoundary=".boundary"
      cdkDrag>
    </settings-panel>

    <my-characters-panel
      controlPanel
      (closePanel)="displayMyCharacters = false"
      [display]="displayMyCharacters?'block':'none'"
      panelTitle="Mes personnages"
      cdkDragBoundary=".boundary"
      cdkDrag >
    </my-characters-panel>


    <character-details
      controlPanel
      (closePanel)="displayCharacterDetails = false"
      [display]="displayCharacterDetails?'flex':'none'"
      panelTitle="Détails de personnage"
      [character]="selectedCharacter"
      cdkDragBoundary=".boundary"
      cdkDrag>
   </character-details>
  
  </div>
  
  