<button class='characterSheetButton'>Character Sheet</button>
<div class = 'characterSheet'>

    <div id="charGeneral" class="charSheetItem">
                        
        <output id="charClassOutput"></output>
        
        <div id="charCaract">

                <div>
                    <label for="force">FORCE</label>
                    <input id="force" name="force" value="+3" readonly="">
                </div>
                <div>
                    <label for="dexterite">DEXTÉRITÉ</label>
                    <input id="dexterite" name="dexterite" value="+3" readonly="">
                </div>
                <div>
                    <label for="constitution">CONSTITUTION</label>
                    <input id="constitution" name="constitution" value="+3" readonly="">
                </div>
                <div>
                    <label for="intelligence">INTELLIGENCE</label>
                    <input id="intelligence" name="intelligence" value="+3" readonly="">
                </div>
                <div>
                    <label for="sagesse">SAGESSE</label>
                    <input id="sagesse" name="sagesse" value="+3" readonly="">
                </div>
                <div>
                    <label for="charisme">CHARISME</label>
                    <input id="charisme" name="charisme" value="+3" readonly="">    
                </div>

        </div>
        
        <div id="portraitChar"></div>
        
    </div>

</div>