:host{

    display: flex;

}
.characterSheetButton{

    border-radius: 20px 0px 0px 20px;
    writing-mode: sideways-lr;
    background-color: rgba(0,0,0,0.6);
    border: none;
    min-width: 50px;
    color: white;
    font-size: xx-large;
    height: 80vh;

}

.characterSheet{

    background: rgba(0,0,0,0.6);
    overflow: auto;
    height: 80vh;

}