<form [formGroup]='characterForm'>

    <div class="formHeader">

        <input class="nameInput" formControlName="name" placeholder="nom de personnage">

        <div class="levelContainer">

            <span>

                <button *ngIf="characterForm.controls.level.value > 1 " (click)="onLevelLessClick()"  class="levelButton"><</button>

            </span>
            <label  class="level">

                lvl:
                <input formControlName="level" type="number" min="1" max="20" #level>
            </label>
            <span>

                <button *ngIf="characterForm.controls.level.value < 20 " (click)="onLevelPlusClick()"  class="levelButton">></button>

            </span>
        </div>
        
        <div class="characteristicsContainer">

            <p class="pointsInfo">Points restant : <span><input [value]="characteristicPoints" readonly> / {{maxCharacteristicPoints}}</span></p>

            <label  (click)="$event.stopPropagation();$event.preventDefault()"  class="characteristic">

               Str.

                <span class="characteristicValue">

                    <span><button  *ngIf="characterForm.controls.strength.value > 1 " (click)="onCharactLessClick('strength')"  class="levelButton"><</button></span>

                    <input formControlName="strength" type="number" readonly>

                    <span><button *ngIf="characterForm.controls.strength.value < 20 " (click)="onCharactPlusClick('strength')"  class="levelButton">></button></span>

                </span>

                <span [ngClass]="{'positive': strengthBonus > 0, 'negative': strengthBonus < 0}">

                    (<span *ngIf="strengthBonus > 0">+</span><input [value]="strengthBonus" type="number"   readonly>)

                </span>

            </label>
            <label  (click)="$event.stopPropagation();$event.preventDefault()"  class="characteristic">

                Dex.
                <span class="characteristicValue">

                    <span><button *ngIf="characterForm.controls.dexterity.value > 1 " (click)="onCharactLessClick('dexterity')"  class="charactButton"><</button></span>

                    <input formControlName="dexterity" type="number" readonly>

                    <span><button *ngIf="characterForm.controls.dexterity.value < 20 " (click)="onCharactPlusClick('dexterity')"  class="charactButton">></button></span>

                </span>

                <span [ngClass]="{'positive': dexterityBonus > 0, 'negative': dexterityBonus < 0}">

                    (<span *ngIf="dexterityBonus > 0">+</span><input [value]="dexterityBonus" type="number"   readonly>)

                </span>

            </label>
            <label  (click)="$event.stopPropagation();$event.preventDefault()"  class="characteristic">

                Con.

                <span class="characteristicValue">

                    <span><button *ngIf="characterForm.controls.constitution.value > 1 " (click)="onCharactLessClick('constitution')"  class="charactButton"><</button></span>

                    <input formControlName="constitution" type="number" readonly>

                    <span><button *ngIf="characterForm.controls.constitution.value < 20 " (click)="onCharactPlusClick('constitution')"  class="charactButton">></button></span>

                </span>
                
                <span [ngClass]="{'positive': constitutionBonus > 0, 'negative': constitutionBonus < 0}">

                    (<span *ngIf="constitutionBonus > 0">+</span><input [value]="constitutionBonus" type="number"   readonly>)

                </span>

            </label>
            <label  (click)="$event.stopPropagation();$event.preventDefault()"  class="characteristic">

                Int.

                <span class="characteristicValue">

                    <span><button *ngIf="characterForm.controls.intelligence.value > 1 " (click)="onCharactLessClick('intelligence')"  class="charactButton"><</button></span>

                    <input formControlName="intelligence" type="number" readonly>

                    <span><button *ngIf="characterForm.controls.intelligence.value < 20 " (click)="onCharactPlusClick('intelligence')"  class="charactButton">></button></span>

                </span>
                
                <span [ngClass]="{'positive': intelligenceBonus > 0, 'negative': intelligenceBonus < 0}">

                    (<span *ngIf="intelligenceBonus > 0">+</span><input [value]="intelligenceBonus" type="number"   readonly>)

                </span>

            </label>
            <label  (click)="$event.stopPropagation();$event.preventDefault()"  class="characteristic">

                Wis.
                <span class="characteristicValue">

                    <span><button *ngIf="characterForm.controls.wisdom.value > 1 " (click)="onCharactLessClick('wisdom')"  class="charactButton"><</button></span>

                    <input formControlName="wisdom" type="number" readonly>

                    <span><button *ngIf="characterForm.controls.wisdom.value < 20 " (click)="onCharactPlusClick('wisdom')"  class="charactButton">></button></span>

                </span>
                
                <span [ngClass]="{'positive': wisdomBonus > 0, 'negative': wisdomBonus < 0}">

                    (<span *ngIf="wisdomBonus > 0">+</span><input [value]="wisdomBonus" type="number"   readonly>)

                </span>

            </label>
            <label  (click)="$event.stopPropagation();$event.preventDefault()"   class="characteristic">

                Cha.
                <span class="characteristicValue">

                    <span><button *ngIf="characterForm.controls.charisma.value > 1 " (click)="onCharactLessClick('charisma')"  class="charactButton"><</button></span>

                    <input formControlName="charisma" type="number" readonly>

                    <span><button *ngIf="characterForm.controls.charisma.value < 20 " (click)="onCharactPlusClick('charisma')"  class="charactButton">></button></span>

                </span>

                <span [ngClass]="{'positive': charismaBonus > 0, 'negative': charismaBonus < 0}">

                    (<span *ngIf="charismaBonus > 0">+</span><input [value]="charismaBonus" type="number"   readonly>)

                </span>

            </label>

        </div>


        <img (click)="browse.click()" [src]="currentPortrait" class="portrait" >
        <input (change)="setCurrentPortrait($event.target.files[0])" accept="image/png, image/jpeg" hidden="true" type="file" #browse>

    </div>

    <div class="formMain">

        <div class="expansionPanel">
            <div  (click)="displayInfos = !displayInfos" class="expansionPanelHeader">    
                <h3>Infos</h3>
                <span> {{displayInfos?"&uarr;":"&darr;"}}</span>
            </div>
           
            <div class="infos" [ngClass]="{closed:!displayInfos}">
    
                <input formControlName="age" type="number" value="age">

                <select formControlName="gender" >

                    <option [value]="gender" *ngFor="let gender of genderEnumValues">{{gender}}</option>

                </select>

                <select formControlName="alignment" value="alignment">

                    <option [value]="alignment"  *ngFor="let alignment of alignmentEnumValues">{{alignment}}</option>

                </select>

                <textarea formControlName="resume" [ngStyle]="{'resize':'none'}"></textarea>
        
            </div>
    
        </div>

        <div class="expansionPanel">
            <div  (click)="displayRaces = !displayRaces" class="expansionPanelHeader">    
                <h3>Choisir une race</h3>
                <h3>{{characterForm.controls.race.value}}</h3>
                <span> {{displayRaces?"&uarr;":"&darr;"}}</span>
            </div>
           
            <div class="raceGrid" [ngClass]="{closed:!displayRaces}">
    
                <label class="raceLabel" *ngFor="let race of races">
                    
                   {{race.name}}
                    <input formControlName="race" type="radio" name="race" [value]="race.name | lowercase | translate" checked>
        
                </label>
        
            </div>
    
        </div>

        <div class="expansionPanel">
            <div  (click)="displayStory = !displayStory" class="expansionPanelHeader">    
                <h3>Story</h3>
                <span> {{displayStory?"&uarr;":"&darr;"}}</span>
            </div>
           
            <div
            class="story"
            [ngClass]="{closed:!displayStory}"
            >
                <label *ngFor="let story of stories">

                    {{story.name}}
                    <input formControlName="story" [value]="story.name" type="radio" name="story">


                </label>
        
            </div>
    
        </div>
        
        <div class="expansionPanel">
    
            <div  (click)="displayClasses = !displayClasses" class="expansionPanelHeader">    
                <h3>Choisir une classe</h3>
                <h3>{{characterForm.controls.class.value}}</h3>
                <span> {{displayClasses?"&uarr;":"&darr;"}}</span>
            </div>
            <div class="classGrid" [ngClass]="{closed:!displayClasses}">
    
                <label class="classLabel" *ngFor="let class of classes">
                    
                   {{class.name | lowercase | translate}}

                    <input (change)="setCurrentClass()" formControlName="class" type="radio" name="class" [value]="class.name" checked>
        
                </label>
        
            </div>
    
        </div>

        <div class="expansionPanel">
            <div  (click)="displaySpecialization = !displaySpecialization" class="expansionPanelHeader">    
                <h3>{{hasSpecialization?"Spécialisations":"Capacités"}}</h3>
                <span> {{displaySpecialization?"&uarr;":"&darr;"}}</span>
            </div>
           
            <div
            [ngStyle]="{ 'grid-template-columns': 'repeat('+currentClass.subClasses.length+', 1fr)','grid-template-rows': 'repeat('+ ((characterForm.controls.level.value/2) | ceilNumber) +', 1fr)'}"
            class="specialization"
            [ngClass]="{closed:!displaySpecialization}"
            >
    
                <div class="capacity" *ngFor="let capacity of currentCapacities" [ngStyle]="{'grid-row': ((capacity.level/2) | ceilNumber)}" >

                    <h4>{{capacity.name}}  lvl:{{capacity.level}}</h4>
                    <p>{{capacity.description}}</p>

                </div>
        
            </div>
    
        </div>


    </div>

    <button (click)="onSubmitForm()">Create character</button>

</form>