<form [formGroup]='character'>

    <div class="formHeader">

        <input class="nameInput" formControlName="name" placeholder="nom de personnage">

        <div class="levelContainer">

            <span>

                <button *ngIf="character.controls.level.value > 1 " (click)="onLevelLessClick()"  class="levelButton"><</button>

            </span>
            <label  class="level">

                lvl:
                <input formControlName="level" type="number" min="1" max="20" #level>
            </label>
            <span>

                <button *ngIf="character.controls.level.value < 20 " (click)="onLevelPlusClick()"  class="levelButton">></button>

            </span>
        </div>
        
        <div class="characteristicsContainer">

            <label class="characteristic">

               Str.

                <span (click)="$event.stopPropagation();$event.preventDefault()"  class="characteristicValue">

                    <span><button  *ngIf="character.controls.strength.value > 1 " (click)="onCharactLessClick('strength')"  class="levelButton"><</button></span>

                    <input formControlName="strength" type="number" readonly>

                    <span><button *ngIf="character.controls.strength.value < 20 " (click)="onCharactPlusClick('strength')"  class="levelButton">></button></span>

                </span>

                <span [ngClass]="{'positive': strengthBonus > 0, 'negative': strengthBonus < 0}">

                    (<span *ngIf="strengthBonus > 0">+</span><input [value]="strengthBonus" type="number"   readonly>)

                </span>

            </label>
            <label class="characteristic">

                Dex.
                <span (click)="$event.stopPropagation();$event.preventDefault()" class="characteristicValue">

                    <span><button *ngIf="character.controls.dexterity.value > 1 " (click)="onCharactLessClick('dexterity')"  class="charactButton"><</button></span>

                    <input formControlName="dexterity" type="number" readonly>

                    <span><button *ngIf="character.controls.dexterity.value < 20 " (click)="onCharactPlusClick('dexterity')"  class="charactButton">></button></span>

                </span>

                <span [ngClass]="{'positive': dexterityBonus > 0, 'negative': dexterityBonus < 0}">

                    (<span *ngIf="dexterityBonus > 0">+</span><input [value]="dexterityBonus" type="number"   readonly>)

                </span>

            </label>
            <label class="characteristic">

                Con.

                <span (click)="$event.stopPropagation();$event.preventDefault()" class="characteristicValue">

                    <span><button *ngIf="character.controls.constitution.value > 1 " (click)="onCharactLessClick('constitution')"  class="charactButton"><</button></span>

                    <input formControlName="constitution" type="number" readonly>

                    <span><button *ngIf="character.controls.constitution.value < 20 " (click)="onCharactPlusClick('constitution')"  class="charactButton">></button></span>

                </span>
                
                <span [ngClass]="{'positive': constitutionBonus > 0, 'negative': constitutionBonus < 0}">

                    (<span *ngIf="constitutionBonus > 0">+</span><input [value]="constitutionBonus" type="number"   readonly>)

                </span>

            </label>
            <label class="characteristic">

                Int.

                <span (click)="$event.stopPropagation();$event.preventDefault()" class="characteristicValue">

                    <span><button *ngIf="character.controls.intelligence.value > 1 " (click)="onCharactLessClick('intelligence')"  class="charactButton"><</button></span>

                    <input formControlName="intelligence" type="number" readonly>

                    <span><button *ngIf="character.controls.intelligence.value < 20 " (click)="onCharactPlusClick('intelligence')"  class="charactButton">></button></span>

                </span>
                
                <span [ngClass]="{'positive': intelligenceBonus > 0, 'negative': intelligenceBonus < 0}">

                    (<span *ngIf="intelligenceBonus > 0">+</span><input [value]="intelligenceBonus" type="number"   readonly>)

                </span>

            </label>
            <label class="characteristic">

                Wis.
                <span (click)="$event.stopPropagation();$event.preventDefault()" class="characteristicValue">

                    <span><button *ngIf="character.controls.wisdom.value > 1 " (click)="onCharactLessClick('wisdom')"  class="charactButton"><</button></span>

                    <input formControlName="wisdom" type="number" readonly>

                    <span><button *ngIf="character.controls.wisdom.value < 20 " (click)="onCharactPlusClick('wisdom')"  class="charactButton">></button></span>

                </span>
                
                <span [ngClass]="{'positive': wisdomBonus > 0, 'negative': wisdomBonus < 0}">

                    (<span *ngIf="wisdomBonus > 0">+</span><input [value]="wisdomBonus" type="number"   readonly>)

                </span>

            </label>
            <label  class="characteristic">

                Cha.
                <span (click)="$event.stopPropagation();$event.preventDefault()" class="characteristicValue">

                    <span><button *ngIf="character.controls.charisma.value > 1 " (click)="onCharactLessClick('charisma')"  class="charactButton"><</button></span>

                    <input formControlName="charisma" type="number" readonly>

                    <span><button *ngIf="character.controls.charisma.value < 20 " (click)="onCharactPlusClick('charisma')"  class="charactButton">></button></span>

                </span>

                <span [ngClass]="{'positive': charismaBonus > 0, 'negative': charismaBonus < 0}">

                    (<span *ngIf="charismaBonus > 0">+</span><input [value]="charismaBonus" type="number"   readonly>)

                </span>

            </label>

        </div>
        <img (click)="browse.click()" [src]="currentPortrait" class="portrait" >
        <input (change)="setCurrentPortrait($event.target.files[0])" accept="image/png, image/jpeg" hidden="true" type="file" #browse>

    </div>

    <div class="formMain">

        <div class="raceContainer">
            <div  (click)="displayRaces = !displayRaces" class="raceHeader">    
                <h3>Choisir une race</h3>
                <span> {{displayRaces?"&uarr;":"&darr;"}}</span>
            </div>
           
            <div class="raceGrid" [ngClass]="{closed:!displayRaces}">
    
                <label class="raceLabel" *ngFor="let race of races">
                    
                   {{race.name}}
                    <input type="radio" name="race" [value]="" checked>
        
                </label>
        
            </div>
    
        </div>
        
        <div class="classContainer">
    
            <div  (click)="displayClasses = !displayClasses" class="classHeader">    
                <h3>Choisir une classe</h3>
                <span> {{displayClasses?"&uarr;":"&darr;"}}</span>
            </div>
            <div class="classGrid" [ngClass]="{closed:!displayClasses}">
    
                <label class="classLabel" *ngFor="let class of classes">
                    
                   {{class.name}}
                    <input type="radio" name="class" [value]="" checked>
        
                </label>
        
            </div>
    
        </div>

    </div>

    <button (click)="onSubmitForm()">Create character</button>

</form>