<div>
        
    <textarea id="comment" class="hidden"></textarea>
    
    <div class="soundBar hidden">
        
        <div class="iconBackground">
            <span class="soundIcon" id="swordIcon" data-name="sword"></span>
        </div>
        <div class="iconBackground">
            <span class="soundIcon" id="bowIcon" data-name="bow"></span>
        </div>
        <div class="iconBackground">
            <span class="soundIcon" id="axeIcon" data-name="axe"></span>
        </div>
       <div class="iconBackground">
            <span class="soundIcon" id="waterIcon" data-name="water"></span>
        </div>
        <div class="iconBackground">
            <span class="soundIcon" id="earthIcon" data-name="earth"></span>
        </div>
        <div class="iconBackground">
            <span class="soundIcon" id="fireIcon" data-name="fire"></span>
        </div>
        <div class="iconBackground">
            <span class="soundIcon" id="windIcon" data-name="wind"></span>
        </div>

    </div>
    
    <div id="mapBox" class="hidden">
        <div class="filterFreeze"></div>
        <div id="maps">
        
            <img id="worldMap" class="map" src="img/maps/Monde.jpg">
        
        </div>
        <button value="map" class="hideButton">X</button>
    </div>
    
</div>

<div class='toolBar'>
    
    <button class="footerButton showHideButton" value="soundBar"><i class="fas fa-music" aria-hidden="true"></i></button>
    <button class="footerButton showHideButton" value="timer"><i class="far fa-hourglass" aria-hidden="true"></i></button>
    <button class="footerButton showHideButton" value="comment"><i class="fas fa-feather-alt" aria-hidden="true"></i></button>
    <button class="footerButton showButton" value="sortsTab" id="sortsTabButton"><i class="fas fa-hand-sparkles" aria-hidden="true"></i></button>
    <button class="footerButton showButton" value="mapBox" id="mapButton"><i class="fas fa-map" aria-hidden="true"></i></button>

    <button class="menuButton"><i class="fas fa-bars"></i></button>
    
</div>
 
 

