   
    <div class="ft-container"  [ngClass]="{hideFt: !visibility, showFt:visibility}">

        <button [ngClass]="{hiddenModeButton: !visibility}" class="ft-showHideButton" (click)="onShowHideButtonClick()">show/hide FT</button>
        <div *ngIf="visibility" class="fight-tracker" >

            <div class="ft-header">

                <button class="ft-headerButton" (click)="setAllInitiatives()"><fa-icon [icon]="faRunning"></fa-icon></button>
                <button class="ft-headerButton" (click)="sortCharacterByInitClick()"><fa-icon [icon]="faSort"></fa-icon></button>
                <button class="ft-headerButton" (click)="roundCountClick($event)"><fa-icon [icon]="faPlay"></fa-icon></button>
                <input type="number" [value]="round" >


            </div>
            <div class="ft-main">

                <div class="allyContainer">
                    <ft-fighter (removeFighter)='onRemoveFighter(fighter)' [fighter]="fighter" *ngFor="let fighter of allyList"></ft-fighter>
                </div>
                <div class="enemyContainer">
                    <ft-fighter  (removeFighter)='onRemoveFighter(fighter)' orientation="reverted" [fighter]="fighter" *ngFor="let fighter of enemyList"></ft-fighter>
                </div>

            </div>
            <div class="ft-footer">

                <img class="ft-footerImg" src="https://img.freepik.com/vecteurs-libre/dragon-silhouette_23-2147510587.jpg?size=338&ext=jpg">
                <ft-infoBox></ft-infoBox>

            </div>
            
        </div>

    </div>
    