:host{

    display: grid;
    height: 100%;
    grid-template-rows: 50px auto 50px;

}
.backgroundsContainer{

    display: grid;
    grid-auto-columns: 1fr;
    margin: 10px;
    gap: 10px;
    box-sizing: border-box;
    grid-auto-rows: 40%;
    overflow-y: auto;

}
.backgroundItem{

    width: 100%;
    height: 100%;
    position: relative;
}

 img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}
.backgroundButton{

    position: absolute;

}