<div>

    <select #categorySelected (change)='setFilterPictureList($event.target.value)' >

        <option [selected]='category===selectedCategory' *ngFor='let category of categories' value="{{category}}">{{category}}</option>
    
    
    </select>
</div>


<div class="backgroundsContainer">

    <div (click)="onBackgroundClick(background.src)" *ngFor="let background of filterPicturesList" class="backgroundItem">

        <label>
            <input class="backgroundButton" type="radio" name="background">
            <img [src]='background.src'>
        </label>
        
    </div>

</div>
<div>

    <button (click)="onChangeBackgroundClick()" formButton>changer l'arrière-plan</button>
    <button (click)="onAddCategoryClick()" formButton>Ajouter Une Categorie</button>
    <button (click)="modifyCategoryClick(filterPicturesList,categorySelected.value)" formButton>Modifier La Categorie</button>
    <button (click)="deleteCategoryClick(picturesList,categorySelected.value)" formButton>Supprimer La Categorie</button>

</div>

