<select>

    <option>cavernes</option>
    <option>sous-terrain</option>
    <option>montagne</option>
    <option>céleste</option>
    <option>enfer</option>

</select>

<div class="backgroundsContainer">

    <div (click)="onBackgroundClick(background)" *ngFor="let background of picturesList" class="backgroundItem">

        <label>
            <input class="backgroundButton" type="radio" name="background">
            <img [src]="background">
        </label>
        
    </div>

</div>

<button (click)="onChangeBackgroundClick()" formButton>changer l'arrière-plan</button>

