:host{

    height: 100%;

}
.container{

    display: grid;
    grid-template-columns: auto 30%;
    grid-template-areas:
        "header header"
        "main side";
    grid-template-rows: 50px auto;
    height: 100%;

}
.header{

    grid-area: header;

}
.main{

    grid-area: main;

}
side{

    grid-area: side;

}

.deploy{

    animation-fill-mode: forwards;
    animation-name: deploy;
    animation-duration: 1s;

}
.hide{

    animation-fill-mode: forwards;
    animation-name: hide;
    animation-duration: 0.5s;

}
@keyframes deploy {
    from {
        grid-template-columns: auto 5%;
    }
  
    to {
        grid-template-columns: auto 30%;
    }
  }
  @keyframes hide {
    from {
        grid-template-columns: auto 30%;
    }
  
    to {
        grid-template-columns: auto 5%;
    }
  }