$header-height:70px;
$header-button-height:30px;
$side-button-width:30px;

:root{
    --headerAnimation:hideHeader;
    --sideAnimation:hideSide;
    --headerAnimationDuration:1s;
    --sideAnimationDuration:1s;
}



:host{

    height: 100%;

}
.container{

    display: grid;
    grid-template-columns: auto $side-button-width 30%;
    grid-template-areas:
        "header header header"
        "headerButton headerButton headerButton"
        "main sideButton side";
    grid-template-rows: $header-height $header-button-height auto;
    height: 100%;
    animation: var(--headerAnimation) var(--headerAnimationDuration),var(--sideAnimation) var(--sideAnimationDuration);
    animation-fill-mode: forwards;

}
.header{

    grid-area: header;

}
.headerButton{

    grid-area: headerButton;
    font-size: $header-button-height/2;
    border: none;

}
.main{

    grid-area: main;

}
.side{

    grid-area: side;

}
.sideButton{

    grid-area: sideButton;
    writing-mode: sideways-lr;
    border: none;

}

.deploySide{

    --sideAnimation:deploySide;
    --sideAnimationDuration:0.8s;


}
.hideSide{

    --sideAnimation:hideSide;
    --sideAnimationDuration:0.5s;

}
.deployHeader{

    --headerAnimation:deployHeader;
    --headerAnimationDuration:0.5s;


}
.hideHeader{

    --headerAnimation:hideHeader;
    --headerAnimationDuration:0.2s;


}
@keyframes deployHeader {
    from {

        grid-template-rows: 0 $header-button-height auto;

    }
  
    to {

        grid-template-rows: $header-height $header-button-height auto;

    }
}

@keyframes hideHeader {
    from {

        grid-template-rows: $header-height $header-button-height auto;

    }
  
    to {

        grid-template-rows: 0 $header-button-height auto;

    }
}

@keyframes deploySide {
    from {
        grid-template-columns: auto $side-button-width 0%;
    }
  
    to {
        grid-template-columns: auto $side-button-width 30%;
    }
}

@keyframes hideSide {
    from {
        grid-template-columns: auto $side-button-width 30%;
    }
  
    to {
        grid-template-columns: auto $side-button-width 0%;

    }
}