
#charSheet{
    
    display: flex;
    flex-direction: column;
    margin:20px;
    
}
#charSheet input{
    
    text-align: center;
    
}
.charSheetItem{
    
    
    height: inherit;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    
}
#charGeneral{
    
    display: grid;
    border: solid;
    
}
#charClassOutput{
    
    grid-column: 2;
    grid-row: 1;
    height: 20px;
    color: white;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    width: 125px;
}
#portraitChar{
    
    grid-column: 2;
    grid-row: 2;
	height: 150px;
    background : url('https://res.cloudinary.com/teepublic/image/private/s--hwb-koK6--/t_Preview/b_rgb:191920,c_limit,f_jpg,h_630,q_90,w_630/v1561522527/production/designs/5163991_0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 125px;
    align-self: center;
    
}
.charSheetItem button{
    
    width: 100%;
    min-height: 50px;
    
}
#charSorts > *{
    min-height: 50px;
}
#charSorts input{
    width: 20%;
    text-align: center;
}
#charSorts > div{
    background-color: gray;
    color: white;
}
.charSortsItem{
    padding: 5px;
    text-align: right;
}

#charCaract{
    
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1/3;
    justify-content: space-around;
    margin-right: 30px;
    
}
#charCaract input{
    
    width: 20px;
    margin-left: 10px;
    border: none;
    
}
#charCaract>div{
    
    display: flex;
    justify-content: end;
    
}

.tableau{
    width: 100%;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}
.tableau td,th{
    padding: 10px 0px;
}
.tableau th{
    background: grey;
    color: white;
}
.tableau td{
    background: white;

}
#compTab input{
    
    width : 20px;
    -webkit-appearance:     none;
    -moz-appearance:        none;
    -ms-appearance:         none;
    -o-appearance:          none;
    appearance:             none;
}
