.fight-tracker{
    
    background-color: grey;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    min-width: 750px;
    max-width: 1600px;
}
.header{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
    height: 100px;
    width: auto;


}
.header *{
    
    height: 50px;
    text-align: center;
    
}
.header input{
    
    height: 42px;
    
}
.Perso{
    
    margin: 10px;
    background-color:white;
    display : flex;
    border-radius: 10px;
    justify-content: space-around;
    
}
.Perso *{
    
    margin: 5px;
    align-self:stretch;

}
.Perso input[type="number"]{
    
    max-width: 25px;

}
#persoList{
    
    width : auto;
    
}
#ajouter{
    
    justify-self: center;
    width: -moz-available;
    height: 50px;
    margin-top: 10px;
    
}
.charName{
    
    text-align: center;

}
.selected{
    border:2px solid red;
}