#pnjSheet{
    
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#pnjNameOutput{
    
    height: 20px;
    color: white;
    background: black;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    
}
#portraitPnj{

	height: 400px;
    background : url('https://res.cloudinary.com/teepublic/image/private/s--hwb-koK6--/t_Preview/b_rgb:191920,c_limit,f_jpg,h_630,q_90,w_630/v1561522527/production/designs/5163991_0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
#pnjTypeClassItem{
    
    height: 20px;
    border: solid white;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    
}
#pnjDetails{
    resize : vertical;
    font-size: 15pt;
    background: none;
    color: white;
    font-family: Century Gothic;
    border-radius: 10px;
    padding: 10px;
    
}
.pnjSheetItem{
    
    
    height: inherit;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    
}
#pnjCaract{
    
    display: flex;
    justify-content: space-around;
    background: white;
    border: solid;
    min-width: 300px;
    align-self: center;
    align-items: center;
    flex-direction: row;
    font-size: 10pt;
    
}
#pnjCaract input{
    
    width: 20px;
    
}
#pnjCaract>div{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    
}