#pnjSheet{
    
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}
#portraitPnj{
	width: 100%;
	min-width: 400px;
	height: 450px;
    background : url('https://res.cloudinary.com/teepublic/image/private/s--hwb-koK6--/t_Preview/b_rgb:191920,c_limit,f_jpg,h_630,q_90,w_630/v1561522527/production/designs/5163991_0.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#pnjDetails{
    resize : vertical;
    font-size: 15pt;
    background: none;
    color: white;
    font-family: Century Gothic;
    border-radius: 10px;
    padding: 10px;
    
}