.sortTab{
    border-collapse: collapse;
    border-radius:20px;
    font-family: fantasy;
    font-stretch: condensed;
}
.sortTab,th,td{
    border: 1px solid black;
}


.TabHeader {
    
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 17pt;
    
}
.SecondTabHeader>th{
    
    padding: 20px;
    
}
.sortContent{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius:20px;
    font-style: italic;
}
.sortHead{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 0px 0px;
    margin : -5px;
    margin-bottom: 2px;
    padding: 5px;
}
th *{
    display: block
}
.empty{
    background-color: rgba(0, 0, 0, 0.7);
}
/*mage color*/
.nivTabHead{
    background-color:gainsboro;
}
.feuTabHead{
    background-color:indianred;
}
.eauTabHead{
    background-color:dodgerblue;
}
.airTabHead{
    background-color:skyblue;
}
.terreTabHead{
    background-color:sandybrown;
}
.psyTabHead{
    background-color: hsl(260,60%,70%);
}
/*rodeur color*/
.distTabHead{
    background-color: hsl(202, 52%, 70%);
}
.corpTabHead{
    background-color: hsl(357, 72%, 60%);
}
.exploTabHead{
    background-color: hsl(27, 65%, 60%);
}
p{
    font-size: 20pt;
}
button{
    background: none;
    border: none;
    font-size: 20pt;
}