body{
    display: grid;
    
    grid-row-gap:10px;
    grid-column-gap:10px;

}
select{
    text-align: center;
    font-size: 100%;

}
caption{
    text-align: left;
    background-color: darkgrey;
    padding: 5px;
}
input{
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    -o-appearance: textfield;
}
button{
    
    cursor: pointer;
    
}
header{
    grid-column: 1 / 3;
    grid-row: 1;
}
main{
    grid-column: 1 / 3;
    grid-row: 2;
}
aside{
    grid-column: 3;
    grid-row: 2;
}
footer{
    grid-column: 1 / 4;
    grid-row: 3;
    position: fixed;
    bottom: 0px;
    margin: 10px;
    width: -moz-available;
    
    background-color: #ffffff;
    -webkit-box-shadow:inset 0px 0px 20px 3px #656565;
    -moz-box-shadow:inset 0px 0px 20px 3px #656565;
    box-shadow:inset 0px 0px 20px 3px #656565;

}
iframe{
    width: -moz-available;
}
.hidden{
    
    display:none;
    
}
#sortsTabButton{
    
    width: inherit;
    height: 50px;
    
}
