#sortTab{
    border-collapse: collapse;
    border-radius:20px;
    font-family: fantasy;
    font-stretch: condensed;
}
#sortTab,th,td{
    border: 1px solid black;
}

.FirstTabHeader {
    
    background-color: black;
    color: white;
    font-size: 17pt;
    
}
.FirstTabHeader>th{
    
    padding: 20px;
    
}
.SecondTabHeader {
    
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    
}
.SecondTabHeader>th{
    
    padding: 20px;
    
}
.sortContent{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius:20px;
    font-style: italic;
}
.sortHead{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 0px 0px;
    margin : -5px;
    margin-bottom: 2px;
    padding: 5px;
}
}
th *{
    display: block
}
.empty{
    background-color: rgba(0, 0, 0, 0.7);
}
.nivTabHead{
    background-color:gainsboro;
}
.feuTabHead{
    background-color:indianred;
}
.eauTabHead{
    background-color:dodgerblue;
}
.airTabHead{
    background-color:skyblue;
}
.terreTabHead{
    background-color:sandybrown;
}
.psyTabHead{
    background-color:mediumpurple;
}
.invocTabHead{
    background-color:plum;
}
.alterTabHead{
    background-color:darkseagreen;
}
