
<div class="formContainer">

    <form [formGroup]="userForm">

        <label>
    
            login :
            <input formControlName="login">
        
        </label>
        <br>
        <label>
            password :
            <input formControlName="password">
        
        </label>
        <br>
        <button [disabled]="!userForm.valid" (click)="onLoginClick()">Login</button>
    
    </form>
    
</div>

<p>Pas encore inscrit ? inscrivez-vous <a routerLink="../register">ici</a></p>